<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()" color="white">
        <ion-icon class="icon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>Joaquim Martins</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div id="header">
      <img src="../assets/usuarios/img2.png" />
    </div>

    <ion-card>
      <ion-card-header>
        <ion-title class="nomeText">Joaquim Anselmo Martins</ion-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item color="dark">
          <ion-avatar slot="start">
            <ion-icon
              class="icon"
              name="logo-whatsapp"
              color="success"
            ></ion-icon>
          </ion-avatar>
          <ion-label class="subText"> (14) 99898-8526 </ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-avatar slot="start">
            <ion-icon
              class="icon"
              name="logo-instagram"
              color="danger"
            ></ion-icon>
          </ion-avatar>
          <ion-label class="subText"> @joquim_martins </ion-label>
        </ion-item>

        <ion-item color="dark">
          <ion-avatar slot="start">
            <ion-icon
              class="icon"
              name="logo-facebook"
              color="primary"
            ></ion-icon>
          </ion-avatar>
          <ion-label class="subText"> Joaquim Martins </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
