ion-searchbar{
  --background: rgb(37, 37, 37);
  --placeholder-color: white;
  --color: white;
  --border-radius: 5px;
}

ion-thumbnail {
  width: 85px;
  --size: 110px;
  margin: 4px;
  --border-radius: 10%;
  padding: 2px;
}

.nome{
  margin: 6px;
  font-size: 18px;
}
.gmail{
  margin: 6px;
  color: rgb(212, 212, 212);
  opacity: 0.8;
  font-size: 18px;
}
.id{
  margin: 6px;
  color: rgb(212, 212, 212);
  font-size: 18px;
}
.botao{
  left: 50px;
}
