<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()" color="white">
        <ion-icon class="icon" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>Aghata</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div id="header">
      <img src="../assets/usuarios/img1.png" />
    </div>

    <ion-card class="card">
      <ion-card-header>
        <ion-title class="nomeText">Aghata Oliveira</ion-title>
      </ion-card-header>

      <ion-card-content cl>
        <ion-icon class="icon" name="logo-whatsapp" color="success"></ion-icon>
        <span class="subText">(14) 99898-0003</span>
        <pre></pre>
        <ion-icon class="icon" name="logo-instagram" color="danger"></ion-icon>
        <span class="subText">@aghataOli</span>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
